<div class="jumbotron">
  <h1 class="title">前行网</h1>
  <p class="slogan">完成了十几年的进修之路，我们终于要踏上真正的战场了。
  <br>
  <br>
  <strong>前行网</strong>为广大应届毕业战士们提供了各种企业的校招信息、招聘信息等。
  <br>
  <br>
  赶快在这里选择你的第一个副本，前行吧！
  </p>
  <br>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">选择副本</a></p>
</div>
<hr/>
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>厦门思明区软件园二期</h3>
          </div>
        </div>
      </div>
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
        <div class="caption">
          <h3>info@firstjob.com</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
        <div class="caption">
          <h3>0592-88888888</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<hr/>
