<div class="jumbotron5">
    <p class="title">前行网，专属应届毕业生的招聘网站</p>
</div>
<div class="jumbotron2 title2">
  <p>在这里，你可以结识更多的伙伴</p>
    <ul>
      <li>最活跃的求职分享社区</li>
      <li>众多同龄伙伴分享心里历程</li>
    </ul>
</div>
<div class="jumbotron3 title2">
  <p>在这里，有毕业多年的师兄师姐真心相待</p>
    <ul>
      <li>各行各业专业大牛倾情入驻</li>
      <li>各路大神为你指点迷津</li>
    </ul>
  </div>
</div>
<div class="jumbotron4">
  <div class="po">
    <p class="title">梦想就在前方，你准备好了吗</p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">前行吧</a></p>
  </div>
</div>
<hr/>
<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>厦门思明区软件园二期</h3>
          </div>
        </div>
      </div>
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
        <div class="caption">
          <h3>info@firstjob.com</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
      <div class="thumbnail">
        <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
        <div class="caption">
          <h3>0592-88888888</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<hr/>
