// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    box-sizing: border-box;
}

.columns {
    margin-bottom:20px;
    cursor:pointer;
}
.columns:hover .header { background-color:red;}
.columns:hover .button{ background-color:red;}
.columns:hover .grey { color:#4CAF50; }
.columns:hover .price { color:red;}

.name {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
}

.name:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.name .header {
    background-color: #111;
    color: white;
    font-size: 25px;
    transition: all .2s ease-in-out;

}

.name li {
    border-bottom: 1px solid #eee;
    padding:12px;
    text-align: center;

}
.highlight { transition: 0.3s;}
.highlight:hover {-webkit-transform:scale(1.5);transform:scale(1.5);}

.name .grey {
    background-color: #eee;
    font-size: 20px;
    transition: all .2s ease-in-out;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: all .2s ease-in-out;
}
.button:hover {
    color: #ffffff;
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
h2 {
  padding-bottom: 40px;
}

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
}


.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
}
