<footer class="footer">
  <div class="container">
    <ul class="soc-media-ul">
      <li>
        <a href="http://twitter.com" class="fa fa-twitter" target="_blank"></a>
      </li>

      <li>
        <a href="https://github.com" class="fa fa-github" target="_blank"></a>
      </li>

      <li>
        <a href="#" class="fa fa-facebook-official" target="_blank"></a>
      </li>
      <li>
        <a href="#" class=" fa fa-rss"></a>
      </li>
    </ul>
  </div>
</footer>
