<footer class="footer ">


  <div class="container">
    <hr/>
    <section id="company">
      <div class = "container-fluid">
        <div class="row">
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
              <div class="caption">
                <h3>厦门思明区软件园二期</h3>
              </div>
            </div>
          </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>info@firstjob.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>0592-88888888</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <hr/>
    <p class="text-center">Copyright ©2016 Rails101
          <br>Design by Allen Lin
    </p>
  </div>
</footer>
