<footer class="footer container" style="margin-top: 100px;">
  <div class="container">
    <ul class="soc-media-ul">
      <li>
        <a href="http://twitter.com" class="fa fa-twitter highlight" target="_blank"></a>
      </li>

      <li>
        <a href="https://github.com" class="fa fa-github highlight" target="_blank"></a>
      </li>

      <li>
        <a href="https://www.facebook.com" class="fa fa-facebook-official highlight" target="_blank"></a>
      </li>
      <li>
        <a href="http://linjiaxin-blog.logdown.com/" class=" fa fa-rss highlight"></a>
      </li>
    </ul>
  </div>
</footer>
